html, body, #root {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: 'Poppins', sans-serif;
  background-color: #ffffff;
  color: #212529;
}
